.paramContainer {
	margin-top: 20px;
}

.sampleSet {
	background: rgba(0,0,0,0.2);
}

.sampleSet .sampleSetInner {
	padding-top:10px;
}

.sampleSet .sampleSetInner input,
.sampleSet .sampleSetInner textarea {
	min-width: 100%;
	max-width: 100%;
	width:100%;
}

.sampleSet .sampleSetInner textarea {
	min-height:150px;
}

.sampleSet .sample_output {
	min-height:40px;
}

.kernelGroupInner textarea,
.kernel_function {
	width:100%;
}

.kernel_sample, .param_sample {
	min-height:40px;
}

.chartContainer {
	padding-top:20px;
}

.bench_chart {
	margin-top:20px;
	height: 400px;
}
