.paramContainer {
	margin-top: 20px;
}

.paramGroup {
	background: rgba(0,0,0,0.2);
}

.paramGroup .paramGroupInner {
	padding-top:10px;
}

.paramGroup .paramGroupInner input,
.paramGroup .paramGroupInner textarea {
	min-width: 100%;
	max-width: 100%;
	width:100%;
}
